<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE7;IE9"/>
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/supervisor/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/supervisor/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/javascript/supervisor/jquery-2.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/supervisor/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/datimeday/WdatePicker.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/supervisor/link.js}"></script>
</head>
<body>
    
    <div id="header" th:include="supervisor/common/header :: supervisor"></div>
    
    <div class="clearfix"></div>
     <div class="content">
         <div class="container-fluid">
               <div class="row-fluid">
                 <div class="span2 span_left">
                       <div class="text-center" style="margin-top: 20px;">
                           <ul class="nav nav-pills nav-stacked">
                               <li class="active">
                                   <a href="#links" class="btn btn-primary active" data-toggle="tab">链接管理</a>
                               </li>
                               <li>
                                   <a th:href="@{/supervisor/addLink}" class="btn btn-primary active">添加链接</a>
                               </li>
                           </ul>
                       </div>
                 </div>
         <div class="clearfix"></div>
    <div class="span10 pull_width">
         <div class="tab-content">
             <!--link管理-->
             <div class="tab-pane active" id="links">
                 <table class="table table-hover table_text">
                    <div class="pull-right" style="padding: 10px 20px;"></div>
                    <tr>
                         <td>序列号</td>
                         <td>名称</td>
                         <td>url</td>
                         <td>状态</td>
                         <td>操作</td>
                     </tr>
                     <tr th:each="link,linkStat:${links}">
                         <td th:text="${linkStat.index+1}">1</td>
                         <td th:text="${link.name}"> </td>
                         <td th:text="${link.url}"></td>
                         <td th:text="${link.is_use == 1?'已启用':'已停用'}">dh</td>
                         <td>
                         <a href="javascript:;" onclick="delLink(this);" class="delLink" th:id="${link.id}">删除</a>
                         <a th:href="@{/supervisor/updateLink-{id}?(id=${link.id})}" class="btn btn-link" data-toggle="modal">修改</a>
                         </td>
                     </tr>
                  </table>

	                 <!---分页 begin-->
	                 <div class="pagination pull-right input_padding">
	                     <ul>
	                         <li><a href="#">首页</a></li>
	                         <li><a href="#">上一页</a></li>
	                         <li><a href="#">1</a></li>
	                         <li><a href="#">2</a></li>
	                         <li><a href="#">下一页</a></li>
	                         <li><a href="#">尾页</a></li>
	                     </ul>
	                 </div>
	                 <!---分页 end-->
	             </div>
                 </div>
               </div>
            </div>
         </div>
     </div>
    <div class="footer login">
        <div class="logon_footer">java</div>
    </div>
</body>
</html>